@font-face {
    font-family: 'CustomFont';
    src: url(Metropolis-Medium.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'CustomFont';
}

.all{
    position: relative;
    height: 100vh;
}

.iks-oks{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 500px;
    height: 500px;
    border: 1px solid #082f49;
    border-radius: 20px;
    padding: 10px;
    background-color: #0369a1;

}

.wrapper{
    display: flex;
    justify-content: center;
    transform: translateY(100px);
}

.grid-part{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: 'CustomFont';
    scale: 95%;
    border-radius: 15px;
    background-color: #e0f2fe;
    transition: .3s;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-part:hover{
    cursor: pointer;
    background-color: #bae6fd;
}

.black-back{
    display: block;
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}





.black-back.chose{
    display: none;
}

.chose-way{
    padding: 100px 50px;
    display: flex;
    gap: 10px;
    color:#7dd3fc;
    background-color: #082f49;
}

.pvp{
    cursor: pointer;
    text-align: center;
    border: 2px solid #06b6d4;
    background-color: #075985;
    width: 50%;
    height: 50px;
    transition: .3s;
}

.pvp:hover{
    scale: 105%;

}

.pva{
    cursor: pointer;
    text-align: center;
    justify-self: center;
    border: 2px solid #06b6d4;
    background-color: #075985;
    width: 50%;
    height: 50px;
    transition: .3s;
}

.pva:hover{
scale: 105%;
}

.second-black{
    display: none;
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;  
}

.second-black.clicked{
display: flex;
justify-content: center;
align-items: center;
}

.pop-up{
    display: none;
    padding: 100px 50px;
    gap: 10px;
    color:#7dd3fc;
    background-color: #082f49;  
}

.pop-up.clicked{
    display: flex;
}

.chose-x{
    transform: translateY(-50px);
    font-size: 10rem;
    cursor: pointer;
    text-align: center;
    width: 50%;
    height: 50px;
    transition: .3s;
}

.chose-x:hover{
 scale: 105%;
}

.chose-o{
    transform: translateY(-50px);
    font-size: 10rem;
    cursor: pointer;
    text-align: center;
    width: 50%;
    height: 50px;
    transition: .3s;
}

.chose-o:hover{
    scale: 105%;
   }

.button{

    color: #1d4ed8;
    background-color: white;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


